# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
environment/

# macOS
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Generated outputs
outputs/

# Generated synthetic dataset
data/images/
data/masks/
data/metadata.csv

# Temporary test datasets
data_test/

# Temporary files
*.tmp
*.log

# Python packaging artifacts
*.egg-info/